!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Suscriptions
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.container
      .row
        .col
          =link_to "/" do
            = image_tag "logo-nova-sticky.png"
        .col.text-right
          = link_to 'Inscripción', '/'
    = yield
